{% extends "gestiondata/layout.html" %} {% block body %}
<h1>Créer un Article</h1>

<input type="text" id="name" placeholder="Nom de l'article" />
<input type="number" id="price" placeholder="Prix" />
<input type="number" id="code_barre" placeholder="Code Barre" />
<select id="categorie">
  <option disabled selected>-- Sélectionner une catégorie --</option>
</select>

<button onclick="createArticle()">Créer</button>

<script>
  fetch("/gestiondata/api/categories/")
    .then((res) => res.json())
    .then((data) => {
      const select = document.getElementById("categorie");
      data.forEach((cat) => {
        const option = document.createElement("option");
        option.value = cat.id;
        option.textContent = cat.name_cat;
        select.appendChild(option);
      });
    })
    .catch((err) => console.error("Erreur de chargement des catégories:", err));
  function createArticle() {
    const name = document.getElementById("name").value;
    const price = document.getElementById("price").value;
    const code_barre = document.getElementById("code_barre").value;
    const categorie = document.getElementById("categorie").value;

    fetch("/gestiondata/create_article/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify({
        name,
        price,
        code_barre,
        categorie,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
      });
  }
</script>
{% endblock %}
